.candidates_div {
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;

    position: relative;
}

.descriptions_div {
    display: flex;
    gap: 24px;
    margin-bottom: 30px;
}

.photo {
  border-radius: 50%;
  object-fit: cover;
}
  
.thumb {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.16);
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000;
}

.descriptions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.descriptions_span {
    font-weight: 700;
    font-size: 14px;
    color: #02BFF3;
}

.salary {
    font-weight: 800;
    font-size: 20px;

    position: absolute;
    top: 20px;
    right: 20px;
    color: #999999;
}
