@import-normalize;

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
 
  color:  #000000;
  background-color:#FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: Roboto, sans-serif;
}

/* Глобальне скидання стилів по тегам*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  border: 0;
  padding: 0;
}

ul {
  list-style: none;
}

